[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
flask = "*"
watson-developer-cloud = "*"
google-cloud-language = "*"
configparser = "*"
requests = "*"
grpcio = "*"
"bs4" = "*"

[requires]
python_version = "3"
